<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<style>
  #container{
    text-align: center;
  }
</style>

<!-- {% block content %} -->
  <div id="container">
    <form method="post">
      <div>
        <input type="submit" name="submit_button" value="forward">
      </div>
      <div>
        <input type="submit" name="submit_button" value="left">
        <input type="submit" name="submit_button" value="stop">
        <input type="submit" name="submit_button" value="right">
      </div>
      <div><input type="submit" name="submit_button" value="reverse"></div>
  </div>
    
    <div>
      <label for="current_dc">DC ={{ current_dc }}</label>
    </div>
    <div>
      <label for="steering">direction ={{ direction }}</label>
    
    
  </form>
<!-- {% endblock %} -->